.stopwatch {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: #404040;
  padding: 100px;
}

.background {
  background-color: gray;
}
