.stopwatch {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: #404040;
  padding: 100px;
  border-radius: 15px;
}

.background {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #757575;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a1a1a1;
  text-decoration: none;
}

#time {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
